---
import { Image } from "astro:assets"


---
<header class=" fixed w-full z-10 py-10 px-48 bg-white">
    <nav class="flex justify-between w-full">
        <div><h1 class="text-3xl" style="color: #3CB4E5;">LOGO</h1></div>
        <div class="lg:w-50% hidden ">
            <ul class="flex w-full space-x-6 items-baseline font-semibold">
                <li>Services</li>
                <li>Projects</li>
                <li>Insights</li>
                <li><button class="py-3 px-5 rounded-2xl text-white" style="background-color: #3CB4E5 ;">Put us to work</button></li>
            </ul>
        </div>

    </nav>
</header>